{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <h2 class="text-center">Administration <a href="{{ path('logout') }}" class="btn btn-warning">Déconnecter</a></h2>

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#trouve" data-toggle="tab">Trouvé</a></li>
                <li><a href="#perdu" data-toggle="tab">Perdu</a></li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="trouve">
            {% set numCategorie = 1 %}
            {%  include("Admin/tableau.html.twig") %}
        </div>

        <div class="tab-pane fade adminTable" id="perdu">
            {% set numCategorie = 2 %}
            {%  include("Admin/tableau.html.twig") %}
        </div>
    </div>
    <br>
{% endblock %}
