{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fiche.css') }}">
    <link rel="stylesheet" href="{{ asset('css/annonce.css') }}">
{% endblock %}

{% block body %}
    <div class="decalage"></div>
    {% for annonce in annonces %}
        {% if annonce is defined %}
            {% include ("Annonce/fiche_annonce.html.twig") %}
        {% else %}
            <p>pas d'annonce</p>
        {% endif %}
    {% endfor %}

    {% if categorie == 1 %}
        {% set nom = 'annonceTrouve' %}
        {%  include("Annonce/pager.html.twig") %}
    {% else %}
        {% set nom = 'annoncePerdu' %}
        {%  include("Annonce/pager.html.twig") %}
    {% endif %}
{% endblock %}
