{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/carte.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="col-lg-12">
            <div><h4 class="well">Choisissez la région où vous avez trouvé un chat:</h4></div>
        </section>
    </div>
    <div class="container-fluid">
        <section class="col-lg-12 col-xs-12">
           {% include ("Carte/carteTrouver.html.twig") %}
        </section>
    </div>
{% endblock %}