body{ background-image: url("../images/fond_carte.jpg"); background-repeat: no-repeat; }

h4{margin-top: 112px; margin-bottom: 50px; text-align: center;}

.container h4{  margin-bottom: 35px; }

.map{overflow: hidden; height: 800px;}

.map__image path { fill: #888; stroke: #FFF; stroke-width: 1px; transition: fill 0.3s }

.map__image .is-active path { fill: #e47b19;}


.map__list a { color: white; text-decoration: none; transition: color 0.3s; font-size: 15px; }

.map__list a.is-active{ color:#e47b19; font-weight: bold; text-decoration: underline; }



@media(max-width:1200px) {
    .map__image{ width: 80%; border-radius: 10px; margin-left: 10%;}
}

@media (max-width: 990px) {
    .map__image{ width: 95%; border-radius: 10px; margin-left: 8%;}
    .container h4{  margin-bottom: 70px; margin-top: 90px;}
}

@media (max-width: 768px) {
    .map__image{ width: 100%; border-radius: 10px; margin-left: 5%;}
    .container h4{  margin-bottom: 70px; margin-top: 90px;}
}

@media (max-width: 500px) {
    .map__image{ width: 100%; border-radius: 10px; margin-left: 5%;}
    .container h4{  margin-bottom: 70px; margin-top: 90px; font-size: 15px;}
}
