h4{ text-transform: uppercase; background-color: #cbcbcb; padding: 14px 0px; border-radius: 6px; border: 1px solid #777}

.container{ margin-top: 20px;}

strong{ text-transform: uppercase; margin-left: 20px; }

legend{font-size: 1.1em; font-weight: bold; color: #ff7A00;}

img{margin-top: 30px;}

.annonce{ margin-top: 20px;}

@media(max-width:1200px){.center{ margin-left: 13%;}}

@media(max-width:990px){.center{ margin-left: 0%;}}
