.container{ margin-top: 110px; text-align: center; color: white; }

legend{ color: orange; text-shadow: black 0.05em 0.05em; font-weight: bold; }

.well { background-color: rgba(255, 255, 255, 0.4);  padding-bottom: 50px; }

body{ background-image: url("../images/fond_poster.jpg");  background-repeat: no-repeat;}

h2{color:white; text-shadow: 0.05em 0.05em rgba(63,107,169, 0.7); margin-bottom: 30px; text-transform: uppercase; font-family: 'Crete Round'}

.btn{ margin-top: -100px;}

.gauche{margin-left: 4%}

@media(max-width:500px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.65);
        transform-origin: 0;
        transform: scale(0.65);
        transform-origin: 0 0;
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }}

/* Background */
/*body {
    width: auto;
    height: auto;
    background: url("../images/cat-071.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}*/


